{% extends 'app1/main.html' %}
{% load static %}
{% block title %}
        KKphotography | Events
{% endblock title %}
{% block content %}

<div class="detail-container">
    <div class="detail-header" style="padding: 20px;">
        <center><h1 style="font-weight: 10;">Events</h1>
        <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, aliquid.</small>
        </center>
    </div>
    
    <section>
        <div class="detail-body">
            <ul>
                {% for w in events %}

                <li><img src="{{w.photo}}" alt="" class="det-img"></li>

                {% endfor %}
            </ul>
        </div>

    </section>
    <div>
        <center><small>loading ...</small></center>
    </div>
</div>


  
{% endblock content %}