{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %}
        KKphotography
        {% endblock title %}
            
    </title>
        
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Spartan:wght@500&display=swap" rel="stylesheet">




</head>
<body>
        <div class="container-cup">
            <div class="hide-sidebar">
                <div class="sidebar-content-hide">
                    <div class="side-logo-div">
                        <h1>kkphotography</h1>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                    <div class="side-body">
                        <div class="body-menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a> </li> <br>
                                <li><a href="{% url 'wedding' %}">WEDDING</a> </li> <br>
                                <li><a href="{% url 'events' %}">EVENTS</a> </li> <br>
                                <li><a href="{% url 'fasion' %}">FASION</a> </li> <br>
                                <li><a href="{% url 'commercia' %}">COMMERCIA</a> </li> <br>
                                <li><a href="{% url 'corporate' %}">CORPORATE</a> </li> <br>
                                <li><a href="{% url 'potraits' %}">POTRAITS</a> </li> <br>
                               
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            {% include 'app1/navbar.html' %}
            
            {% block content %}
                
            {% endblock content %}
        
            </div>    
</body>
</html>


<script src="{% static 'js/main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>