     {% load static %}
     <nav class="nav">
        <div class="logo-div">
          <a class="nav-link" href="{% url 'home' %}"> <h1>kkphotography-ke <img src="{% static 'image/kklogo.png' %}" alt="" style="width: 50px;height: 50px;"> </h1> </a>
        </div>
        <div class="toogler-div">
          <i class="fas fa-bars"></i>
        </div>
        <div class="menu-div">
          <ul>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wedding' %}">WEDDING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events' %}">EVENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fasion' %}">FASION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'commercia' %}">COMMERCIA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'corporate' %}">CORPORATE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'potraits' %}">POTRAITS</a>
              </li>
          </ul>
        </div>
      </nav>