{% extends 'app1/main.html' %}
 {% load static %}
 {% block title %}
     KKphotography | Upload
{% endblock title %}
{% block content %}

<div class="container">
    <br>
    
    <h1>Upload New Photos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, assumenda.</p>
    <div class="form-group">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
                <input type="submit" value="Upload" class="btnCenter">
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    
</div>

<div class="footer">
    <center>
        <p style="color: white; width: 70%;">  kkphotographyke@gmail.com <br>
        
            <strong>call us</strong>
            <br>
            <i class="fa fa-phone" aria-hidden="true"></i> +25478289544
            <i class="fa fa-phone" aria-hidden="true"></i> +25478289544
            <i class="fa fa-phone" aria-hidden="true"></i> +25478289544
        </p>

        <br><br>

        <p style="color: white;"><strong>Address</strong> <br>
            <i class="fa fa-map-marker" aria-hidden="true"></i> <br>
             jomokenyatta streat Eldoret. || Moi avenue Nairobi . <br>
             <small>developer : abdulazizolinga17@gmail.com</small>
        </p>

        <br><br>
        <p class="footer-link">
           <i class="fab fa-facebook"></i>
           <i class="fab fa-instagram"></i>
           <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest"></i>
        </p>

        
    </center>
</div>
<div class="bootom-div">
    <center>
        <p style="color: white;">copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021</p>
    </center>
</div>

{% endblock content %}